fastapi
uvicorn
streamlit
requests
python-multipart
python-docx
PyMuPDF
pillow
pytesseract
groq
chromadb
sentence-transformers
langchain
langchain-community
langchain-chroma
python-dotenv
sqlalchemy
pandas
numpy
